/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

* {
  box-sizing: border-box;
}

.light-bg {
  background-color: #2e2e2e;
  width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 460px) {
  .container {
    width: 460px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 991px) {
  .container {
    width: 748px;
  }
}

@media (min-width: 1260px) {
  .container {
    width: 1000px;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1250px;
  }
}

@media (min-width: 991px) {
  .wrapper-main {
    margin-left: 15rem;
  }
}

@media (min-width: 1260px) {
  .wrapper-main {
    margin-left: 15rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 25px 0;
}

body {
  margin: 0;
  background-color: #030303;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: .4px;
}

body a:hover {
  cursor: pointer;
}

@media (max-width: 990px) {
  aside {
    display: none;
  }
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 15rem;
}

.initials {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #030303;
  background-color: #9e9e9e;
  border-right: solid 1rem white;
  padding: 3.5rem;
}

.initials:hover {
  background-color: #00a0e4;
  color: #fff;
}

.initials strong {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

.nav-menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2e2e2e;
  border-right: solid 1rem white;
  border-top: solid 1rem white;
}

.nav-menu li {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin: 10px 0px;
  padding: 20px;
}

.nav-menu li:hover {
  background-color: #00a0e4;
  color: #fff;
}

.social-icon-github {
  padding: 21px;
  margin: 5px;
  background-color: #2e2e2e;
  background-image: url("../images/other/1608908_github_icon.png");
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
  border-radius: 50%;
}

.social-icon-github:hover {
  background-color: #6e40c9;
}

.hamburger {
  position: absolute;
  font-size: 3rem;
  top: 1.5rem;
  right: 1rem;
}

@media (min-width: 991px) {
  .hamburger {
    display: none;
  }
}

.hamburger :hover {
  background-color: #2e2e2e;
}

.hamburger span {
  padding: 1rem;
  border-radius: 50%;
}

.banner {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  padding: 7rem 0.5rem 0.25rem;
}

.banner p {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  padding: 0.25rem 0.5rem 7rem;
}

.banner small {
  text-align: center;
  display: flex;
  flex-flow: column;
  font-size: 0.825rem;
  font-weight: 400;
}

.banner em {
  font-size: 0.625rem;
  font-weight: 400;
  font-style: italic;
}

.banner a:hover, .banner .fa-solid:hover {
  color: #00a0e4 !important;
}

.myprojects {
  display: flex;
  flex-flow: column;
}

@media (min-width: 768px) {
  .myprojects {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .myprojects h2 {
    flex-flow: row;
    width: 100%;
  }
}

@media (min-width: 460px) {
  .container-card {
    width: 430px;
  }
}

@media (min-width: 768px) {
  .container-card {
    width: 40%;
  }
}

@media (min-width: 991px) {
  .container-card {
    width: 40%;
  }
}

@media (min-width: 1260px) {
  .container-card {
    width: 30%;
  }
}

.container-card .project-card {
  display: flex;
  flex-flow: column;
  border: dotted #9e9e9e;
  height: 422px;
  margin-bottom: 30px;
}

.container-card .project-card .project-image {
  object-fit: cover;
  width: 100%;
  height: 50%;
}

.container-card .project-card .project-card-footer {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

.container-card .project-card h3 {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px 0;
}

.container-card .project-card p {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 10px;
}

.container-card .project-card .button {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 5px;
  text-align: center;
  background-color: #030303;
}

.container-card .project-card .button:hover {
  background-color: #00a0e4;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1260px) {
  .contact-me {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.container-mini {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 1260px) {
  .container-mini {
    width: 50%;
    padding-right: 15px;
  }
}

.container-mini2 {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 1260px) {
  .container-mini2 {
    padding-left: 15px;
    width: 50%;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info strong {
  padding: 40px 0px;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.contact-info email, .contact-info phone {
  padding-bottom: 20px;
  font-size: 1rem;
  font-weight: 700;
}

@media (min-width: 400px) {
  .contact-info email, .contact-info phone {
    font-size: 1.4rem;
  }
}

.contact-info p {
  text-align: center;
}

.contact-info a:hover {
  text-decoration: underline;
  color: #00a0e4;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.825rem;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  form {
    font-size: 1.2rem;
  }
}

form input:hover, form textarea:hover {
  box-shadow: 0px 0px 5px 5px #00a0e4;
}

form input:focus, form textarea:focus {
  box-shadow: inset 0px 0px 5px 5px #00a0e4;
}

form input {
  width: 100%;
  background-color: #2e2e2e;
  border-style: none;
  border-radius: 4px;
  margin: 5px 5px;
  padding: 10px;
}

@media (min-width: 768px) {
  form input[name$="name"] {
    width: 45%;
    flex-grow: 1;
  }
}

form textarea {
  width: 100%;
  height: 30vh;
  background-color: #2e2e2e;
  border-style: none;
  border-radius: 4px;
  margin: 5px 5px;
  padding: 10px;
  overflow: hidden;
  resize: vertical;
}

@media (min-width: 1260px) {
  form textarea {
    height: 20vh;
  }
}

form .submit {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 10px 0px 20px 0px;
  text-align: center;
  background-color: #2e2e2e;
}

form .submit:hover {
  background-color: #00a0e4;
}

.footer-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  font-size: 0.825rem;
  font-weight: 400;
  padding: 10px 0px;
}

.footer-info a:hover, .footer-info .fa-solid:hover {
  color: #00a0e4 !important;
}

main p {
  padding-bottom: 20px;
}

main ul {
  padding-left: 20px;
  padding-bottom: 20px;
  list-style-type: circle;
}

main bold {
  font-size: 1.4rem;
  font-weight: 700;
}

main a:hover {
  color: #00a0e4;
  text-decoration: underline;
}

.container-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .container-article {
    display: flex;
    flex-direction: row;
  }
}

.container-image-aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .container-image-aboutme {
    width: 50%;
  }
}

.container-image-aboutme img {
  flex-grow: 1;
  max-width: 250px;
  border: 3px solid #00a0e4;
  border-radius: 25px;
}

@media (min-width: 768px) {
  .container-image-aboutme img {
    max-width: 300px;
  }
}

@media (min-width: 768px) {
  #article2 {
    flex-direction: row-reverse;
  }
}

.container-mini-article {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.about-me-section h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: 15px 0;
}

@media (min-width: 768px) {
  .about-me-section h3 {
    text-align: unset;
  }
}

.about-me-section em {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

.about-me-section p {
  padding-bottom: 20px;
}
