/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    Remove list styles (bullets/numbers)
    in case you use it with normalize.css
  */
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

* {
  box-sizing: border-box;
}

.light-bg {
  background-color: #483c36;
  width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 460px) {
  .container {
    width: 460px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 991px) {
  .container {
    margin-left: 15rem;
    max-width: auto;
  }
}

@media (min-width: 1260px) {
  .container {
    margin-left: 15rem;
    width: auto;
  }
}

body {
  margin: 0;
  background-color: #181615;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: .4px;
}

body a:hover {
  cursor: pointer;
}

@media (max-width: 991px) {
  aside {
    display: none;
  }
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 15rem;
}

.initials {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e66e1c;
  border-right: solid 1rem white;
  padding: 3.5rem;
}

.initials:hover {
  background-color: pink;
  color: black;
}

.initials strong {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.nav-menu {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #483c36;
  border-right: solid 1rem white;
  border-top: solid 1rem white;
}

.nav-menu li {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin: 10px 0px;
  padding: 20px;
}

.nav-menu li:hover {
  background-color: pink;
  color: black;
}

.hamburger {
  position: absolute;
  font-size: 3rem;
  top: 1.5rem;
  right: 1rem;
}

@media (min-width: 991px) {
  .hamburger {
    display: none;
  }
}

.hamburger :hover {
  background-color: #483c36;
}

.hamburger span {
  padding: 1rem;
  border-radius: 50%;
}

.banner {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  padding: 7rem 0.5rem 0.25rem;
}

.banner p {
  font-size: 0.825rem;
  font-weight: 400;
  font-style: italic;
  padding: 0.25rem 0.5rem 7rem;
}

.banner small {
  text-align: center;
  display: flex;
  flex-flow: column;
  font-size: 0.825rem;
  font-weight: 400;
}

.banner em {
  font-size: 0.625rem;
  font-weight: 400;
  font-style: italic;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 15px 0;
}

.myprojects {
  display: flex;
  flex-flow: column;
}

@media (min-width: 768px) {
  .myprojects {
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .myprojects h2 {
    flex-flow: row;
    width: 100%;
  }
}

@media (min-width: 460px) {
  .container-card {
    width: 430px;
  }
}

@media (min-width: 768px) {
  .container-card {
    width: 40%;
  }
}

@media (min-width: 991px) {
  .container-card {
    width: 40%;
  }
}

@media (min-width: 1260px) {
  .container-card {
    width: 30%;
  }
}

.container-card .project-card {
  display: flex;
  flex-flow: column;
  border: dotted #e66e1c;
  margin-bottom: 20px;
}

.container-card .project-card .project-image {
  width: 100%;
}

.container-card .project-card .project-card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.container-card .project-card h3 {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 10px 0;
}

.container-card .project-card p {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 10px;
}

.container-card .project-card .button {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 5px;
  text-align: center;
  background-color: #181615;
}

.container-card .project-card .button:hover {
  background-color: #483c36;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 100%;
  background-color: #483c36;
  border-style: none;
  border-radius: 4px;
  margin: 5px;
}

form textarea {
  width: 100%;
  height: 30vh;
  background-color: #483c36;
  border-style: none;
  border-radius: 4px;
  margin: 5px;
}

form .submit {
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 20px;
  border-radius: 6px;
  padding: 10px 30px;
  margin: 10px 0px 20px 0px;
  text-align: center;
  background-color: #483c36;
}

form .submit:hover {
  background-color: #181615;
}

.footer-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  font-size: 0.825rem;
  font-weight: 400;
  padding: 10px 0px;
}

.scs-scheme-header {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.scs-scheme-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.coding-examples-header {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.coding-examples-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.about-me-header {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about-me-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
