//Variables

//colors
$light-color:#483c36;
$dark-color:#181615;
$tert-color: #e66e1c;

//font weight
$font-weight--light : 400;
$font-weight--bold  : 700;

//breakpoints
$break-xsmall: 1px;
$break-small: 460px;
$break-medium: 768px;
$break-large: 991px;
$break-xlarge: 1260px;