//Contact Me

.contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(xlarge){
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    ////remove this when container made
    // @include mq(xlarge){
    // margin-right: 20px;
    // }

    strong {
        padding: 40px 0px;
        font-size: 1.5rem;
        font-weight: $font-weight--bold;
        text-align: center;
    }

    email, phone {
        padding-bottom: 20px;
        font-size: 1rem;
        font-weight: $font-weight--bold;
        @media(min-width:400px){
            font-size: 1.4rem;
        }
    }

    p {
        text-align: center;
        // @include mq(xlarge){
        //     text-align: left;
        // }
    }


    a:hover {
        text-decoration: underline;
        color:$quat-color;
    }
}



form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(medium){
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    font-size: 0.825rem;
    @include mq(medium){
        font-size: 1.2rem;
    }

    transition: all 0.3s ease;
    input, textarea {
    &:hover {
        box-shadow: 0px 0px 5px 5px $quat-color;
        }
    &:focus {
        box-shadow: inset 0px 0px 5px 5px $quat-color;
    }
}

// @include mq(medium){
//     .firstname {
//         width: 48.6%;
//     }
//     .lastname {
//         width: 48.6%;
//     }
// }

    input {
        width: 100%;
        background-color: $light-color;
        border-style:none;
        border-radius: 4px;
        margin: 5px 5px;
        padding: 10px;
        @include mq(medium){
        &[name$="name"] {
            width: 45%;
            flex-grow: 1;
        }
        // @include mq(large){
        //     &[name$="name"] {
        //         width: 47.1%;
        //         flex-grow: 1;
        //     }
        // @include mq(xlarge){
        //     &[name$="name"] {
        //         width: 45%;
        //         flex-grow: 1;
        //         }
        //     }
        // }
    }
}

    textarea {
        width: 100%;
        height: 30vh;
        @include mq(xlarge){
            height: 20vh;
      }
        background-color: $light-color;
        border-style:none;
        border-radius: 4px;
        margin: 5px 5px;
        padding: 10px;
        overflow: hidden;
        resize:vertical;
    }
 
    .submit {
        @include button(10px 0px 20px 0px, $light-color, $quat-color);
    }
}




