//Hamburger Icon itself


.hamburger-menu {
    background-color: $tert-color;
    height: 50px;
    width: 50px;
    position: fixed;   //important for absolute positioning later used to be absolute
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    padding: 1rem;
    z-index: 6;
    border-radius: 5px;
    @media (min-width: 991px) {
        display: none;
    }
    &:hover {
        background-color: $quat-color;
       }
}

.ham-bar {
    width: 70%;
    height: 4px;
    background-color: $light-color;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform .6s, opacity .8s, top .6s;
}

.bar-top{
    top:25%;
}

.bar-bottom {
    top:75%;
}

.hamburger-menu.active .bar-top{
    transform: translate(-50%, -50%) rotate(-315deg);
    top: 50%;
}

.hamburger-menu.active .bar-mid{
    opacity: 0;
}

.hamburger-menu.active .bar-bottom{
    transform: translate(-50%, -50%) rotate(-225deg);
    top: 50%;
}