// Ham burger menu

.off-screen-menu{
    position: fixed;
    top: 0;
    left: -15rem;
    width: 15rem;
    background-color: $light-color;
    height: 100vh;
    transition: left .5s;
    z-index: 5;
    .ham-holder {
        height: 100px;
        width: 100%;
        background-color: $light-color;
        border-bottom: solid 1rem white;;
        border-right: solid 1rem white;;
    }
}

.off-screen-menu.active{
    left:0;
}