//header


.banner {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 2.5rem;
        font-weight: $font-weight--bold;
        text-align: center;
        padding: 7rem 0.5rem 0.25rem;
    }

    p {
        font-size: 1.25rem;
        font-weight: $font-weight--light;
        text-align: center;
        font-style: italic;
        padding: 0.25rem 0.5rem 7rem;
    }

    small {
        text-align: center;
        display: flex;
        flex-flow: column;
            font-size: 0.825rem;
            font-weight: $font-weight--light;
    }

    em {
        font-size: 0.625rem;
        font-weight: $font-weight--light;
        font-style: italic;
    }
    a:hover , .fa-solid:hover{
        color:$quat-color !important;
    }
}

// .text-container {
//     // overflow: hidden;
//     // white-space: nowrap;
//     // border-right: 3px solid transparent;
//     // font-size: 24px;
//     // font-family: monospace;
// }