//Navigation
aside {
    @media (max-width: 990px) {
        display: none;
    }
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 15rem;
}

.initials{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $dark-color;
        background-color: $tert-color;
        border-right: solid 1rem white;
        padding: 3.5rem;
    &:hover {
        background-color: $quat-color;
        color: #fff;
    }
    strong {
        font-size: 3.5rem;
        font-weight: $font-weight--bold;
        text-align: center;
    }
}

.nav-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @include mq(large) {
        justify-content: space-evenly;
    }
    align-items: center;
        background-color: $light-color;
        border-right: solid 1rem white;
        border-top: solid 1rem white;
    li {
        font-size: 1.5rem;
        font-weight: $font-weight--light;
        text-align: center;
        margin: 10px 0px;
        padding: 20px;

    &:hover {
        background-color: $quat-color;
        color: #fff;
    }
    }
}

.social-icon-github {
    @include socialmedia-icons (url("../images/other/1608908_github_icon.png"), 50px);
    &:hover {
        background-color: #6e40c9;
    }
}
